<div
  class="modal fade"
  id="doctornote"
  tabindex="-1"
  aria-labelledby="previousvisitLabel"
  aria-hidden="true"

>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="card">
            <div class="card-header">Doctor Notes</div>
            <div class="card-body">
              <form (ngSubmit)="submitDoctorNote()">
                <div class="form-group">
                  <label for="doctorNotes">Add Notes</label>
                  <textarea
                    class="form-control"
                    id="doctorNotes"
                    rows="5"
                    [(ngModel)]="doctorNote"
                    name="doctorNote"
                  ></textarea>
                </div>
                <div style="display: flex; flex-direction: row; gap: 1rem;">
                  <mat-spinner *ngIf="isSaving" diameter="30" style="margin-top: 10px;"></mat-spinner>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    *ngIf="!isSaving"
                  >
                    Submit
                  </button>
                  <button type="button" class="btn btn-secondaryaa"  data-bs-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
