<div
  class="modal fade bd-example-modal-lg"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book Appointment</h5>
      </div>
      <div class="modal-body">
        <span>Choose a date</span>
        <div class="date-card mt-2">
          <div class="mb-3 selector">
            <select
              id="monthSelect"
              class="form-select"
              [(ngModel)]="selectedMonth"
            >
              <option value="" disabled selected>Month</option>
              <option *ngFor="let month of months" [value]="month">
                {{ month }}
              </option>
            </select>
            <select
              id="yearSelect"
              class="form-select"
              [(ngModel)]="selectedYear"
            >
              <option value="" disabled selected>Year</option>
              <option *ngFor="let year of years" [value]="year">
                {{ year }}
              </option>
            </select>
          </div>
          <div class="calendar" (click)="onDateSelect($event)">
            <div class="row">
              <div class="col text-center">Su</div>
              <div class="col text-center">M</div>
              <div class="col text-center">Tu</div>
              <div class="col text-center">W</div>
              <div class="col text-center">Th</div>
              <div class="col text-center">F</div>
              <div class="col text-center">Sa</div>
              
            </div>
            <div class="row" *ngFor="let week of weeks">
              <div
                class="col text-center"
                *ngFor="let date of week"
                [ngClass]="{
                  'text-muted': date === 0 || isPastDate(date),
                  'disabled': date === 0,
                  'selected': isSelectedDate(date)
                }"
              >
                {{ date !== 0 ? date : '' }}
              </div>
            </div>
          </div>
          <div class="container mt-5">
            <h5>Choose Time</h5>
            <div class="time-selector" (click)="onTimeSelect($event)">
              <div class="row align-items-center mb-3">
                <div class="col-auto">
                  <strong>Morning</strong>
                </div>
                <div class="col">
                  <button class="btn btn-outline-secondary time-btn">
                    09:00 AM
                  </button>
                  <button class="btn btn-outline-secondary time-btn">
                    09:30 AM
                  </button>
                  <button class="btn btn-danger time-btn">10:00 AM</button>
                  <button class="btn btn-outline-secondary time-btn">
                    10:30 AM
                  </button>
                  <button class="btn btn-outline-secondary time-btn">11:00 AM</button>
                </div>
                <div class="col-auto text-right">
                  <button class="btn btn-outline-secondary nav-btn">
                    &lt;
                  </button>
                  <button class="btn btn-outline-secondary nav-btn">
                    &gt;
                  </button>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-auto">
                  <strong>Evening</strong>
                </div>
                <div class="col">
                  <button class="btn btn-danger time-btn">02:00 PM</button>
                  <button class="btn btn-danger time-btn">02:30 PM</button>
                  <button class="btn btn-outline-secondary time-btn">
                    03:00 PM
                  </button>
                  <button class="btn btn-outline-secondary time-btn">
                    03:30 PM
                  </button>
                  <button class="btn btn-outline-secondary time-btn">
                    04:00 PM
                  </button>
                </div>
                <div class="col-auto text-right">
                  <button class="btn btn-outline-secondary nav-btn">
                    &lt;
                  </button>
                  <button class="btn btn-outline-secondary nav-btn">
                    &gt;
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="container mt-5">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="selectDoctor">Select Doctor</label>
                  <select
                    class="form-control"
                    id="selectDoctor"
                    (change)="onDoctorSelect($event)"
                  >
                    <option value="" disabled selected>Select Doctor</option>
                    <option *ngFor="let doctor of doctors" [value]="doctor.id">
                      {{ doctor.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 text-right">
                <div>
                  <strong>Appointment Details</strong>
                </div>
                <div class="appointment-details">
                  <span
                    *ngIf="selectedDate && selectedTime && selectedDoctor"
                    class="date-time"
                  >
                    {{ selectedDate }},{{ selectedMonth }} {{ selectedTime }}
                  </span>
                  <br />
                  <span *ngIf="selectedDoctor" class="doctor-name">
                    {{ selectedDoctor.name }}
                  </span>
                </div>
                <span
                  *ngIf="!selectedDate || !selectedTime || !selectedDoctor"
                  class="doctor-name"
                >
                  Please select a date, time, and doctor.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          *ngIf="!isSaving"
          type="button"
          class="btn btn-primary"
          (click)="saveChanges()"
        >
          Save changes
        </button>
        <mat-spinner *ngIf="isSaving" diameter="30"></mat-spinner>
      </div>
    </div>
  </div>
</div>
