<div class="container-fluid">
    <div class="leftdiv">
        <div class="toplogo">
            <img src="../../../assets/logo-aeroqube-png.svg" alt="aeroqube logo" />
        </div>
        <div class="signup-container">
            <h2>Sign Up</h2>
            <p>Please enter your details to create an account</p>
            <form action="#">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="ReceptionistOne"
                        [(ngModel)]="signupObj.name" name="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="receptionist@gmail.com"
                        [(ngModel)]="signupObj.email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="password-container">
                        <input [type]="passwordFieldType" class="form-control" id="password" placeholder=""
                            [(ngModel)]="signupObj.password" name="password">
                        <button type="button" (click)="togglePasswordVisibility()" class="eye-button">
                            <i [ngClass]="passwordFieldType === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                        </button>
                    </div>   
                </div>
                <div class="mb-3 form-check form-check-inline d-flex justify-content-between">
                    <div>
                        <input class="form-check-input" type="radio" id="receptionist" value="Receptionist"
                            [(ngModel)]="signupObj.role" name="role" checked>
                        <label class="form-check-label" for="receptionist">Receptionist</label>
                    </div>
                    <div>
                        <input class="form-check-input" type="radio" id="doctor" value="Doctor"
                            [(ngModel)]="signupObj.role" name="role">
                        <label class="form-check-label" for="doctor">Doctor</label>
                    </div>
                </div>
                <div style="display: flex; justify-content: center;">
                    <mat-spinner *ngIf="isSaving" diameter="30" style="margin-top: 10px;"></mat-spinner>
                </div>
                <button type="button" class="btn btn-primary btn-signup" *ngIf="!isSaving" (click)="onSignup()">Sign
                    Up</button>
            </form>
        </div>
    </div>
    <div class="rightdiv">

        <h3>Appointment Schedular POC</h3>
        <img src="../../../assets/sign-in.svg" alt="Calendar" />

    </div>
</div>