<div class="main-content">
    <h2>Dashboard</h2>
    <p>Dashboard > <span>Dashboard</span></p>
    <div class="row">
        <div class="col-md-4 mb-3"  (click)="goPatient()">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Patients</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3" (click)="goDoctor()">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Doctors</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3" (click)="goCalender()">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Calendar</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3" (click)="gogeneralawareness()">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">General Awareness</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Billing Code</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Diagnostic Code</h5>
                </div>
            </div>
        </div>
    </div>
</div>
