<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<app-doctorbook></app-doctorbook>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="doctor-list-header">Doctor List</h2>
        <button class="btn btn-success add-doctor-btn">Add Doctor</button>
    </div>
    <input type="text" class="form-control mb-3 mt-3" placeholder="Search" />
    <table class="table table-bordered">
        <thead class="head">
            <tr>
                <th>Doctor ID</th>
                <th>Name</th>
                <th>Speciality</th>
                <th>Calendar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>#564735</td>
                <td>Dr. Stephen Edward</td>
                <td>Cardiologist</td>
                <td><a href="#" class="assign-appointment-link"  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Assign Appointment <i class="fas fa-calendar-alt"></i></a></td>
            </tr>
            <tr>
                <td>#899245</td>
                <td>Dr. Joseph Jason</td>
                <td>Anesthesiologist</td>
                <td><a href="#" class="assign-appointment-link">Assign Appointment <i class="fas fa-calendar-alt"></i></a></td>
            </tr>
            <tr>
                <td>#772843</td>
                <td>Dr. Stephen Edward</td>
                <td>Cardiologist</td>
                <td><a href="#" class="assign-appointment-link">Assign Appointment <i class="fas fa-calendar-alt"></i></a></td>
            </tr>
            <tr>
                <td>#338447</td>
                <td>Dr. Joseph Jason</td>
                <td>Anesthesiologist</td>
                <td><a href="#" class="assign-appointment-link">Assign Appointment <i class="fas fa-calendar-alt"></i></a></td>
            </tr>
            <tr>
                <td>#022554</td>
                <td>Dr. Stephen Edward</td>
                <td>Cardiologist</td>
                <td><a href="#" class="assign-appointment-link">Assign Appointment <i class="fas fa-calendar-alt"></i></a></td>
            </tr>
            <tr>
                <td>#876643</td>
                <td>Dr. Joseph Jason</td>
                <td>Anesthesiologist</td>
                <td><a href="#" class="assign-appointment-link">Assign Appointment <i class="fas fa-calendar-alt"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>