<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<app-doctorbook></app-doctorbook>
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="doctor-list-header">Doctor List</h2>
  </div>
  <input type="text" class="form-control mb-3 mt-3" placeholder="Search" />

  <div class="glow-div">
    <div *ngIf="loading" class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- Table -->
  <table *ngIf="!loading" class="table table-bordered">
    <thead class="head">
      <tr>
        <th>Doctor ID</th>
        <th>Name</th>
        <th>Speciality</th>
        <th>Calendar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctors">
        <td>{{ doctor.id }}</td>
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.specialization }}</td>
        <td>
          <a href="#" class="assign-appointment-link" type="button" data-bs-toggle="modal"
            data-bs-target="#exampleModal" (click)="openModal(doctor.id)">Assign Appointment <i class="fas fa-calendar-alt"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>