<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="row w-100 justify-content-center">
        <div class="login-container">
            <img src="../../../assets/logo-aeroqube-png.svg" alt="aeroqube logo">
            <h2>Sign In</h2>
            <p>Please enter login details</p>
            <form action="#">
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="eg. aman.com"
                        [(ngModel)]="loginObj.email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password (OTP)</label>
                    <input type="password" class="form-control" id="password" placeholder=""
                        [(ngModel)]="loginObj.password" name="password">
                </div>
                <div style="display: flex; justify-content: center;">
                    <mat-spinner *ngIf="isSaving" diameter="30" style="margin-top: 10px;"></mat-spinner>
                </div>
                <button type="button" class="btn btn-primary btn-signin" (click)="onLogin()" *ngIf="!isSaving">Login
                    In</button>
                <div class="signup-link">
                    <a (click)="goToSignup()">Don't have an account? Sign up</a>
                </div>
            </form>
        </div>
        <div class="col-md-6 d-none d-md-flex justify-content-center align-items-center">
            <img src="../../../assets/sign-in.svg" class="img-fluid" alt="Calendar">
        </div>
    </div>
</div>