.container-fluid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100vh;
    width: 100%;
}

.leftdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.rightdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rightdiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.password-container {
    position: relative;
}

.eye-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

.eye-button i {
    font-size: 1.2em;
}



@media (max-width: 768px) {
    .container-fluid {
        grid-template-columns: 1fr;
        height: auto;
    }

    .leftdiv {
        height: 100vh;
    }

    .rightdiv {
        display: none;
    }
}

.container-fluid .toplogo {
    position: absolute;
    top: 10px;
    left: 100px;
}

.container-fluid  h3 {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.13px;
    text-align: left;
    color: #39ce96;
}



.login-container {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
}

.login-container img {
    display: block;
    margin-bottom: 50px;
}

.login-container h2 {
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0f0532;
    margin-bottom: 10px;
}

.login-container p {
    text-align: start;
    color: #888;
    margin-bottom: 50px;
}


.form-check-inline .form-check-input {
    margin-top: 6px;
}

.mb-3 input {
    padding: 15px;
    border-radius: 8px;
    border: solid 1px #d1daeb;
    background-color: #fff;
}

.form-check-inline .form-check-label {
    margin-left: 10px;
    margin-right: 20px;

}

.mb-3 .form-label {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0f0532;
}

.form-check-input:checked {
    background-color: #00d084;
    border-color: #00d084;
}

.btn-signin {
    width: 100%;
    background-color: #00d084;
    border-color: #00d084;
}

.btn-signin:hover {
    background-color: #00b574;
    border-color: #00b574;
}

.signup-link {
    margin-top: 10px;
    color: #00b574;
    font-weight: bold;
}

.signup-link:hover {
    cursor: pointer;
}