<div
  class="modal fade"
  id="previousvisit"
  tabindex="-1"
  aria-labelledby="previousvisitLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previousvisitLabel">
          Previous Visit Summary
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table summary-table">
          <thead>
            <tr>
              <th scope="col">Diagnostic Code</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>G57145</td>
              <td>Developmental and/or behavioural care.</td>
            </tr>
            <tr>
              <td>G98934</td>
              <td>Developmental and/or behavioural care.</td>
            </tr>
            <tr>
              <td>G98934</td>
              <td>Developmental and/or behavioural care.</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
