<nav id="sidebarMenu" class="d-md-block sidebar" *ngIf="sidebarService.isVisibleSidebar()">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="#">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" (click)="goPatient()">
                    Patient
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" (click)="goDoctor()">
                    Doctor
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" (click)="goCalender()">
                    Calendar
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" (click)="gogeneralawareness()">
                    General Awareness
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    Billing Code
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    Diagnostic Code
                </a>
            </li>
        </ul>
    </div>
</nav>
