<nav id="sidebarMenu" class="d-md-block  sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="#">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="patient">
                    Patient
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="doctor">
                    Doctor
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="calender">
                    Calendar
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="generalawareness">
                    General Awareness
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    Billing Code
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    Diagnostic Code
                </a>
            </li>
        </ul>
    </div>
</nav>
