<div class="container mt-5">
  <div class="p-2">
    <h2>Calender</h2>
    <p>Dashboard > <span>Calender</span></p>
  </div>
  <div class="calendar-container">
    <div class="calendar-header">
      <h2>March 2024</h2>
    </div>
    <div class="calendar">
      <div class="calendar-day"><span class="date">1</span></div>
      <div class="calendar-day"><span class="date">2</span></div>
      <div class="calendar-day">
        <span class="date">3</span>
        <span class="event event-red">Meeting w/ Chris</span>
      </div>
      <div class="calendar-day"><span class="date">4</span></div>
      <div class="calendar-day">
        <span class="date">5</span>
        <div class="event event-blue">Lunch w/ Mom</div>
      </div>
      <div class="calendar-day"><span class="date">6</span></div>
      <div class="calendar-day">
        <span class="date">7</span>
        <div class="event event-red">Financial Advisor Meeting</div>
      </div>
      <div class="calendar-day">
        <span class="date">8</span>
        <div class="event event-red">Interview w/ Figma</div>
        <div class="event event-orange">Send follow-up email</div>
      </div>
      <div class="calendar-day"><span class="date">9</span></div>
      <div class="calendar-day"><span class="date">10</span></div>
      <div class="calendar-day"><span class="date">11</span></div>
      <div class="calendar-day">
        <span class="date">12</span>
        <div class="event event-blue">Ashley's Choir Recital</div>
      </div>
      <div class="calendar-day">
        <span class="date">13</span>
        <div class="event event-blue">Is this when the Superbowl is?</div>
        <div class="event event-blue">Run to the store to get some nachos</div>
      </div>
      <div class="calendar-day">
        <span class="date">14</span>
        <div class="event event-red">Budget for next month</div>
        <div class="event event-red">Deadline: Submit application!</div>
      </div>
      <div class="calendar-day">
        <span class="date">15</span>
        <div class="event event-orange">Vaccine appt.</div>
        <div class="event event-blue">Take Jake to dinner</div>
      </div>
      <div class="calendar-day"><span class="date">16</span></div>
      <div class="calendar-day">
        <span class="date">17</span>
        <div class="event event-blue">St. Patrick's Day!</div>
      </div>
      <div class="calendar-day">
        <span class="date">18</span>
        <div class="event event-orange">PTO day</div>
      </div>
      <div class="calendar-day"><span class="date">19</span></div>
      <div class="calendar-day">
        <span class="date">20</span>
        <div class="event event-blue">Dinner with Kate and Dan</div>
      </div>
      <div class="calendar-day"><span class="date">21</span></div>
      <div class="calendar-day">
        <span class="date">22</span>
        <div class="event event-red">Important work meeting</div>
        <div class="event event-red">Costco trip</div>
      </div>
      <div class="calendar-day"><span class="date">23</span></div>
      <div class="calendar-day"><span class="date">24</span></div>
      <div class="calendar-day">
        <span class="date">25</span>
        <div class="event event-blue">Fly to Japan</div>
      </div>
      <div class="calendar-day">
        <span class="date">26</span>
        <div class="event event-blue">Hot dog eating contest</div>
        <div class="event event-red">Meeting w/ architect</div>
        <div class="event event-blue">Movie date night</div>
      </div>
      <div class="calendar-day"><span class="date">27</span></div>
      <div class="calendar-day">
        <span class="date">28</span>
        <div class="event event-red">Meeting w/ Mac</div>
      </div>
      <div class="calendar-day">
        <span class="date">29</span>
        <div class="event event-orange">Pick up Jerry from doc appt.</div>
        <div class="event event-blue">Radiohead concert</div>
      </div>
      <div class="calendar-day">
        <span class="date">30</span>
        <div class="event event-orange">Learn something new</div>
      </div>
      <div class="calendar-day"><span class="date">31</span></div>
    </div>
  </div>
</div>