html,
body {
    height: 100vh;

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-pane{
    position: absolute !important;
    top: 20px;
    right: 10px;
    z-index: 9999;
    box-shadow: none;
   
  }

  .cdk-overlay-container, .cdk-global-overlay-wrapper {
    z-index: 9999 !important;
    
  }

  .mat-mdc-snack-bar-container .mdc-snackbar__surface{
    box-shadow: none !important;
  }

  .mat-h5, .mat-typography .mat-h5, .mat-typography h5 {
    font-weight: bold;
    font-size: large;
  }

  .mat-mdc-menu-item-text{
    display: flex;
    color:#56e0ac;
    align-items: center;
    gap: 10px;
  }

  .mat-mdc-menu-content{
    background-color: white !important;
  }
  

  